<div *ngIf="wrapper">
  <div *ngIf="wrapper.type === 'Node'">
    <p>
      <b><span>Gene Name: </span></b>
      {{ wrapper.data.name }}
      <span class="icon is-small"><i class="fas fa-dna"></i></span>
    </p>
    <p *ngIf="wrapper.data.geneAlias" >
      <b><span>Gene Alias: </span></b>
      {{ wrapper.data.geneAlias }}
      <span class="icon is-small"><i class="fas fa-dna"></i></span>
    </p>
    <p *ngIf="wrapper.data.entrezId">
      <b><span>Entrez Gene:</span></b>
      <a href="https://www.ncbi.nlm.nih.gov/gene/{{ wrapper.data.entrezId }}" target="_blank">
        {{ wrapper.data.entrezId }}
      </a>
    </p>
    <p *ngIf="wrapper.data.uniprotAc">
      <b><span>Uniprot:</span></b>
      <a href="https://www.uniprot.org/uniprot/{{ wrapper.data.uniprotAc }}" target="_blank">
        {{ wrapper.data.uniprotAc }}
      </a>
    </p>
    <p *ngIf="wrapper.data.proteinName">
      <b><span>Protein Name:</span></b>
      {{ wrapper.data.proteinName }}
    </p>
    <p *wrapper.data.interactions>
      <b><span>Node Degree:</span></b>
      {{ wrapper.data.interactions.length }}
    </p>

    <ng-container *ngIf="wrapper.data.cancerOccurrences">
      <b><span>Related Cancer Types ({{ wrapper.data.cancerOccurrences }}):</span></b>
      <div class="content scroll-120">
        <ul *ngFor="let item of wrapperCancerTypes">
          <li>{{ item.name }}</li>
        </ul>
      </div>
    </ng-container>

    <ng-container *ngIf="wrapperComorbidities">
      <b><span>Comorbidities ({{ wrapperComorbidities.length }}):</span></b>
      <div class="content scroll-120">
        <ul *ngFor="let item of wrapperComorbidities">
          <li>{{ item.diseaseName }}</li>
        </ul>
      </div>
    </ng-container>

  </div>


  <div *ngIf="wrapper.type === 'CancerNode'">
    <p>
      <b><span>Gene Name: </span></b>
      {{ wrapper.data.name }}
      <span class="icon is-small"><i class="fas fa-dna"></i></span>
    </p>
    <p *ngIf="wrapper.data.geneAlias" >
      <b><span>Gene Alias: </span></b>
      {{ wrapper.data.geneAlias }}
      <span class="icon is-small"><i class="fas fa-dna"></i></span>
    </p>
    <p *ngIf="wrapper.data.entrezId">
      <b><span>Entrez Gene:</span></b>
      <a href="https://www.ncbi.nlm.nih.gov/gene/{{ wrapper.data.entrezId }}" target="_blank">
        {{ wrapper.data.entrezId }}
      </a>
    </p>
    <p *ngIf="wrapper.data.uniprotAc">
      <b><span>Uniprot:</span></b>
      <a href="https://www.uniprot.org/uniprot/{{ wrapper.data.uniprotAc }}" target="_blank">
        {{ wrapper.data.uniprotAc }}
      </a>
    </p>
    <p *ngIf="wrapper.data.proteinName">
      <b><span>Protein Name:</span></b>
        {{ wrapper.data.proteinName }}
    </p>
    <p *ngIf="wrapper.data.interactions">
      <b><span>Node Degree:</span></b>
      {{ wrapper.data.interactions.length }}
    </p>
    <ng-container *ngIf="wrapper.data.cancerOccurrences">
      <b><span>Related Cancer Types ({{ wrapper.data.cancerOccurrences }}):</span></b>
      <div class="content scroll-120">
        <ul *ngFor="let item of wrapperCancerTypes">
          <li>{{ item.name }}</li>
        </ul>
      </div>
    </ng-container>

    <ng-container *ngIf="wrapperComorbidities">
      <b><span>Comorbidities ({{ wrapperComorbidities.length }}):</span></b>
      <div class="content scroll-120">
        <ul *ngFor="let item of wrapperComorbidities">
          <li>{{ item.diseaseName }}</li>
        </ul>
      </div>
    </ng-container>


  </div>


  <div *ngIf="wrapper.type === 'Drug'">
    <p>
      <b><span>Name: </span></b>
      {{ wrapper.data.name }}
      <span class="icon is-small"><i class="fas fa-capsules"></i></span>
    </p>
    <p *ngIf="wrapper.data.dbId">
      <b>DrugBank ID: </b>
      <a href="https://www.drugbank.ca/drugs/{{ wrapper.data.dbId }}" target="_blank"> {{ wrapper.data.dbId }}</a>
    </p>
    <p *ngIf="wrapper.data.status === 'unapproved' ">
      <b>Status: </b> Unapproved
      <span class="icon is-small"><i class="fas fa-search investigational"></i></span>
    <p *ngIf="wrapper.data.status === 'approved' ">
      <b>Status: </b> Approved
      <span class="icon is-small"><i class="fas fa-check"></i></span>
    </p>
    <p *ngIf="wrapper.data.inTrial">
      <b>In trial(s) </b> <span class="icon is-small"><i class="fas fa-check"></i></span>
    </p>
    <p *ngIf="wrapper.data.inCancernet">
      <b>In Cancernet </b> <span class="icon is-small"><i class="fas fa-check"></i></span>
    </p>
    <div *ngIf="wrapper.data.inTrial && wrapper.data.links.length > 0" class="list">
      <div *ngFor="let link of wrapper.data.links" class="list-item">
        <a [href]="link" target="_blank">{{beautify(link)}}</a>
      </div>
      <small class="list-item"><i>Links provided by WHO</i></small>
    </div>
    <p *ngIf="wrapper.data.interactions">
      <b><span>Node Degree:</span></b>
      {{ wrapper.data.interactions.length }}
    </p>
  </div>

  <div class="field has-addons add-remove-toggle" *ngIf="wrapper.type !== 'Drug'">
    <app-toggle [value]="analysis.inSelection(wrapper)"
                (valueChange)="$event ? analysis.addItems([wrapper]) : analysis.removeItems([wrapper])" textOn="Selected"
                textOff="Deselected" tooltipOn="Add protein to selection." tooltipOff="Remove protein from selection."></app-toggle>
  </div>
</div>
<div *ngIf="!wrapper">
  Please select a node for further information.
</div>
