.card-footer {
    font-size: 12px;
    a {
      padding: 3px;
    }
  }

.info-background {
  background-color: rgba(64, 139, 37, 0.1);
  padding: 1.25rem;
  &.cancer{
    background-color: rgba(91, 0, 01, 0.1);
  }
  &.drug{
    background-color: rgba(0,128,255, 0.1)
  }
  &.drug_unapproved{
    background-color: rgba(216,140,0, 0.1)
  }
}

.small-padding {
  padding: 0.25rem;
}

.card-footer {
  font-size: 12px;
  a {
    padding: 3px;
  }
}

.info {
  font-size: 12px;
}
