/* You can add global styles to this file, and also import other style files */

@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import "~@ng-select/ng-select/themes/default.theme.css";

@import "scaffold";


html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: hidden;
  height: 100%;
}

nav.navbar {
  height: $navbar-height;
}

row-data-selector {
  height: $row-data-selector-height;
}

img.menu-icon.is-hoverable.navbar-item.logo {
  height: 60px;
  width: 60px;
  padding: 0;
}

.landing {
  background-color: $primary;
  background-image: url("assets/caddie_background_large.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - #{$navbar-height});
  width: 100vw;
}

div.navbar-menu {
  margin-left: 5px;
}

span.icon {
  margin-right: 5px;
}

img {
  margin: 10px;
}

img.inline {
  height: 30px;
  align: middle;

}

.analysis-option{
  padding: 10px 30px;
  border: 3px solid grey;
  &.selected{
    border: 3px solid $primary;
  }
}

.network{
  .detail-view{
    position: absolute;
    left: 0;
    background-color:white;
    z-index: 1;
    border: 1px solid lightgray;
  }
}

button.i {
  margin-left: 5px;
}

input.checkbox {
  margin-left: 15px;
}

div.caddie.sidebar {
  height: calc(100vh - #{$navbar-height});
  overflow-y: auto;
  overflow-x: hidden;
  width: $sidebar-width;
}

div.caddie.bar-left {
  float: left;
  position: relative;
  z-index: 30;
}

div.caddie.bar-right {
  float: right;
}

div.card.bar-small {
  margin-bottom: 15px;
  word-wrap: break-word;
  height: 130px;
}

div.card.bar-medium {
  margin-bottom: 15px;
  word-wrap: break-word;
  height: 170px;
}

div.card.bar-large {
  margin-bottom: 15px;
  max-height: 600px;
}

div.card-content.overflow {
  overflow: auto;
  max-height: 350px;
}

div.caddie.right-window {
  float: right;
  width: calc(100vw - #{$sidebar-width} - 2 * 20px);
  height: 100%;
}

div.caddie.network {
  width: calc(100%);
  height: calc(100vh - 100px);
  margin-right: 20px;
}

div.card.network {
  width: 100%;
  height: calc(100vh - #{$network-footer-height});
}

div.network {
  height: calc(100vh - #{$network-footer-height} - 120px);
}

div.parent {
  position: relative;
}

div.image1 {
  position: relative;
}

div.image2 {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

div.center {
  display: flex;
  align-items: center;
  justify-content: center;
}


div.caddie.explorer {
  height: calc(100vh - #{$navbar-height});
  margin-left: 10px;
  margin-right: 10px;
}

.analysis-view {
  height: 100%;
  width: 100%;
  position: absolute;
  margin-top: 0;
  top: 0;
  left: 0;
  z-index: 20;
}

div.field.has-addons.add-remove-toggle {
  margin-top: 20px;
}

.fa-check {
  color: $success;
}

.fa-search.investigational {
  color: $warning;
}

.fa-spinner {
  color: $light-invert;
}

.fa-pause {
  color: $warning;
}

.fa-exclamation-triangle {
  color: $danger;
}

.fa-times {
  color: $danger;
}

.footer-buttons {
  margin-left: 20px;
  margin-right: 10px;
}

.toolbar {
  padding: 5px;
  border-top: 2px solid #d0d0d0;

  .field {
    margin-bottom: 0;
    .control {
      margin-bottom: 0;
    }
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.ui-chkbox-box {
  border: 1px solid black !important;
}

.tissue-dropdown {
  padding: 5px;
  background-color: rgba(255.0, 255.0, 255.0, 0.85);

  .scroll-area {
    max-height: 600px;
    overflow-y: scroll;
    padding-right: 5px;
  }
}

.mb-3 {
  margin-bottom: 10px;
}

.legend {
  position: absolute;
  bottom: 0;
  &.main {
    bottom: calc(0px + #{$network-footer-height});
  }
  td{
    height: $legend-circle-size;
    vertical-align: middle !important;
    padding: 0 !important;
    .node{
      background: $network-node-color;
      border-radius: 50%;
      width: $legend-circle-size;
      height: $legend-circle-size;
      display: inline-block;
    }
    .cancer-node{
      background: $network-cancer-node-color;
      border-radius: 50%;
      width: $legend-circle-size;
      height: $legend-circle-size;
      display: inline-block;
    }
    .cancer-node{
      background: $network-cancer-node-color;
      border-radius: 50%;
      width: $legend-circle-size;
      height: $legend-circle-size;
      display: inline-block;
    }
    .selected-cancer-node{
      background: black;
      border-radius: 50%;
      border: 5px solid $network-selected-border-color;
      width: $legend-circle-size;
      height: $legend-circle-size;
      display: inline-block;
    }
    .seed-node{
      background: $network-seed-gene-color;
      border-radius: 50%;
      width: $legend-circle-size;
      height: $legend-circle-size;
      display: inline-block;
    }
    .seed-cancer-node{
      background: $network-seed-cancer-gene-color;
      border-radius: 50%;
      width: $legend-circle-size;
      height: $legend-circle-size;
      display: inline-block;
    }
    .approved-drug{
      background: $network-approved-drug-color;
      border-radius: $legend-rectangle-radius;
      width: $legend-rectangle-width;
      height: $legend-rectangle-height;
      display: inline-block;
    }
    .in-trial-drug{
      width: 0;
      height: 0;
      border-left: calc(#{$legend-circle-size} / 2) solid transparent;
      border-right: calc(#{$legend-circle-size} / 2) solid transparent;
      border-bottom: $legend-circle-size solid black;
      display: inline-block;
    }
    .non-approved-drug{
      background: $network-unapproved-drug-color;
      border-radius: $legend-rectangle-radius;
      width: $legend-rectangle-width;
      height: $legend-rectangle-height;
      display: inline-block;
    }
  }
}

.loadingOverlay{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

#analysis-content{
  position: relative;
  height: 100%;
}
