/* You can add global styles to this file, and also import other style files */

@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import "~@ng-select/ng-select/themes/default.theme.css";

$family-sans-serif: "Varela Round", sans-serif;
$primary: #408B25;
$secondary: #5b005b;
$success: #48C774;
$danger: #EF476F;
$link: $primary;
$info: $primary;

@import "~bulma/bulma.sass";
@import '~bulma-tooltip';
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";

@import "scaffold";


html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: hidden;
  height: 100%;
}

.modal {
  z-index: $modal-z-index;
}

button.is-example {
    background-color: $secondary;
    color: white !important;
    &:disabled {
      opacity: 0.5;
      background-color: $secondary;
    }
}

.example {
  border-color: $secondary !important;
}

.navbar-container {
  background-color: $primary;
  z-index: 35;
  nav.navbar {
    height: $navbar-height;
    // background-color: $navbar-background-color;
    .logo{
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 15%;
    }
    .logo-letters {
      color: white;
      font-weight: initial;
    }
  }
}

.row-data-selector {
  height: $row-data-selector-height;
  margin-left: 10px;
  padding-top: 10px;
}

img.menu-icon.is-hoverable.navbar-item.logo {
  height: 40px;
  width: 40px;
  padding: 0;
}

.landing {
  background-color: $primary;
  background-image: url("assets/caddie_background_large.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - #{$navbar-height});
  width: 100vw;
}

div.navbar-menu {
  margin-left: 5px;
}

span.icon {
  margin-right: 5px;
}

img {
  margin: 10px;
}

img.inline {
  height: 30px;
  align: middle;

}

.analysis-option{
  padding: 10px 30px;
  border: 3px solid grey;
  &.selected{
    border: 3px solid $primary;
  }
}

.network{
  .detail-view{
    position: absolute;
    left: 0;
    background-color:white;
    z-index: 1;
    border: 1px solid lightgray;
  }
}

button.i {
  margin-left: 5px;
}

input.checkbox {
  margin-left: 15px;
}

div.caddie.sidebar {
  height: calc(100vh - #{$navbar-height});
  overflow-y: auto;
  overflow-x: hidden;
  width: $sidebar-width;
  max-width: $sidebar-width-max;
}

div.caddie.bar-left {
  float: left;
  position: relative;
  z-index: 30;
  @include until($tablet) {
   width: 100%; 
   float: none;
  }
}

div.caddie.bar-right {
  float: right;
}

div.card.bar-small {
  margin-bottom: 15px;
  word-wrap: break-word;
  height: 130px;
}

div.card.bar-medium {
  margin-bottom: 15px;
  word-wrap: break-word;
  height: 170px;
}

div.card.bar-large {
  margin-bottom: 15px;
  max-height: 650px;
}

div.card-content.overflow {
  overflow: auto;
  max-height: 350px;
}

div.caddie.right-window {
  float: right;
  // 20px is for the padding right
  width: calc(100vw - #{$sidebar-width} - 20px);
  min-width: calc(100vw - #{$sidebar-width-max} - 20px);
  height: 100%;
  @include until($tablet) {
    float: none; 
    width: 100%;
  }
}

div.caddie.network {
  width: calc(100%);
  height: calc(100vh - 100px);
  margin-right: 20px;
}

div.card.network {
  width: 100%;
  height: calc(100vh - #{$network-footer-height});
  &.analysis {
    height: calc(100vh - #{$network-footer-height} - #{$navbar-height} - 1.5rem - #{$analysis-result-header-height})
  }
}

.network-size {
  height: calc(100vh - #{$network-footer-height} - #{$navbar-height});
  &.analysis {
    height: calc(100vh - #{$network-footer-height} - #{$navbar-height} - 1.5rem - #{$analysis-result-header-height} - 80px)
  }
}

div.network {
  height: calc(100vh - #{$network-footer-height} - #{$navbar-height} - #{$analysis-result-header-height});
}

div.parent {
  position: relative;
}

div.image1 {
  position: relative;
}

div.image2 {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

div.center {
  display: flex;
  align-items: center;
  justify-content: center;
}


div.caddie.explorer {
  height: calc(100vh - #{$navbar-height});
  margin-right: 10px;
}

.analysis-view {
  height: 100%;
  width: 100%;
  position: absolute;
  margin-top: 0;
  top: 0;
  left: 0;
  z-index: 20;
}

div.field.has-addons.add-remove-toggle {
  margin-top: 20px;
}

.fa-check {
  color: $success;
}

.fa-search.investigational {
  color: $warning;
}

.fa-spinner {
  color: $light-invert;
}

.fa-pause {
  color: $warning;
}

.fa-exclamation-triangle {
  color: $danger;
}

.fa-times {
  color: $danger;
}

.toolbar {
  padding: 5px;
  border-top: 2px solid #d0d0d0;

  .field {
    margin-bottom: 0;
    .control {
      margin-bottom: 0;
    }
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.ui-chkbox-box {
  border: 1px solid black !important;
}

.expressionCancerType-dropdown {
  padding: 5px;
  background-color: rgba(255.0, 255.0, 255.0, 0.85);

  .scroll-area {
    max-height: 400px;
    overflow-y: scroll;
    padding-right: 5px;
  }
}

.mb-3 {
  margin-bottom: 10px;
}

.self-align {
  margin: 0 auto;
}

.loadingOverlay{
  position: absolute;
  background-color: white;
  height: calc(100% - #{$navbar-height});
  width: 100%;
  margin-left: -10px;
  z-index: 30;
  top: $navbar-height;
  width: calc(100vw - #{$sidebar-width});
  min-width: calc(100vw - #{$sidebar-width-max});
  text-align: center;
  .inner{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .pulse {
      animation: pulse 5s infinite;
      // animation-direction: alternate;
      -webkit-animation-name: pulse;
      animation-name: pulse;
    }
        
    @-webkit-keyframes pulse {
      0% {
        -webkit-transform: scale(1);
      }
      50% { -webkit-transform: scale(1.3); }
      100% { -webkit-transform: scale(1); }
    }
        
    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% { transform: scale(1.3); }
      100% { transform: scale(1); }
    }
  }
}

#analysis-content{
  position: relative;
  height: 100%;
}

.legend.gradient{
  height: 200px;
  width: $legend-width;
  position: absolute;
  right: -20px;
  &.main {
    bottom: calc(10px + #{$network-footer-height});
  }
  .bar{
    display: inline-block;
    height: 100%;
    width: 10%;
    &.color-gradient-cancer-gene{
      background-image: linear-gradient($network-cancer-node-color, rgba(91,0,91, .05));
    }
    &.color-gradient-gene{
      background-image: linear-gradient($network-node-color, rgba(20, 61, 31, .05));
    }
    &.color-gradient-cancer-gene-seed{
      background-image: linear-gradient($network-seed-cancer-gene-color, rgba(58, 177, 89, .05));
    }
    &.color-gradient-gene-seed{
      background-image: linear-gradient($network-seed-gene-color, rgba(255, 0, 127, .05));
    }
  }
  .box-unknown{
    width: 20%;
    height: 20px;
  }
  .annotation-max {
    position: absolute;
    top: 0;
  }
  .annotation-min{
    position: absolute;
    bottom: 0;
  }
  .annotation-unknown{
    position: absolute;
    bottom: -30px;
    left: 20%;
  }
  &.analysis-panel {
    bottom: 30px;
    .bar{
      width: 5%;
    }
  }
}

.row-cancer-gene {
  background-color: rgba(91, 0, 91, 0.2);
}

.scrollable {
  overflow-y: auto;
  height: calc(100vh - #{$navbar-height})
}

html {
  --scrollbarBG: rgba(64, 139, 37, 0.1);
  --thumbBG: rgba(64, 139, 37, 0.5);
}
body::-webkit-scrollbar {
  width: 5px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

body::-moz-scrollbar-button:decrement,
body::-moz-scrollbar-button:increment,
body::-webkit-scrollbar-button:decrement,
body::-webkit-scrollbar-button:increment {
  width: 0px;
}

.hidden{
  display: none;
}

.modebar {
  // hides menu bar in plotly js plots
  display: none;
}

